@use "../scss/partials/mixins" as *;
@use "../scss/partials/variables" as *;


// COMMON

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}


// HEADER

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: white;

    img {
        width: 80%;
    }


}

nav {
    @include flex(row, space-between, center);
    width: 100%;
    height: 100px;

    ul {
        @include flex(row, space-between, center);
        gap: 1.5rem;
        height: 100%;

        li {
            height: 100%;
            display: flex;
            align-items: center;

            &:hover {
                border-bottom: 5px solid $bg-color;
            }
        }



        a {
            color: black;
            font-weight: bold;
        }
    }
}


// MAIN

main {

    h2 {
        color: white;
    }

    .comics {
        background-color: $bg-main-color;
        text-align: center;

        .container {
            padding: 2rem;
            position: relative;
        }


        .jumbo {
            height: 600px;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }


        .tag {
            position: absolute;
            background-color: $bg-color;
            padding: .7rem 1.2rem;
            font-weight: bolder;
            color: white;
            top: -23px;
        }
    }

    button {
        color: white;
        font-weight: bolder;
        background-color: $bg-color;
        border: none;
        padding: .5rem 2rem;
        cursor: pointer;
        margin-top: 2rem;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2.5rem;
    align-items: center;

    .col {
        width: calc((100% - 7.5rem) / 6);

        .card {
            margin-top: 1rem;

            img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: cover;
                object-position: top;
            }

            h3 {
                height: 30px;
                margin-top: 1rem;
                color: white;
            }
        }
    }

}


// AD-SECTION

.ad-section {
    background-color: $bg-color;

    .container {
        @include flex(row, space-between, center);
        height: 170px;
        padding: 0 2rem;
    }
}

.img-cont {
    color: white;
    @include flex(row, null, center);
    gap: 1rem;

    img {
        width: 25%;
        aspect-ratio: 1;
    }
}

footer {
    width: 100%;
    background-image: url(../img/footer-bg.jpg);
}

.top-footer-section {
    min-height: 400px;
    color: white;
    @include flex(row, space-between, null);

    .dc-bg {
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/dc-logo-bg.png);
        width: 50%;
    }

    .footer-list {
        display: flex;
        padding: 2rem 0;
        flex-wrap: wrap;
        width: calc(1200px / 3);
        justify-content: space-between;

        a {
            color: gray;
            font-size: .8rem;
        }

        .link-list {
            h4 {
                margin-bottom: 1rem;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: .3rem;
            }
        }
    }
}


//   FOOTER

.bottom-footer-section {
    height: 100px;
    background-color: $bg-dark-color;

    .container {
        @include flex(row, space-between, center);
        height: 100%;

        button {
            border: 2px solid $bg-color;
            padding: .8rem 1rem;
            background-color: $bg-dark-color;
            color: white;
            font-weight: bolder;

            &:hover {
                background-color: lighten($bg-dark-color, 20%);
                cursor: pointer;
                border: 3px groove;
            }
        }
    }

    .social-list {
        color: $bg-color;
        @include flex(row, space-between, center);

        ul {
            @include flex(row, space-between, center);
            gap: 1rem;
            margin-left: 1rem;
        }
    }
}